.idea
web/cache/*
!web/cache/.htaccess
!web/cache/index.html
web/download/*
!web/download/.htaccess
web/log/*
!web/log/index.html
web/pub/*
!web/pub/.htaccess
web/templates_c/*
!web/templates_c/.htaccess
!web/templates_c/index.html
web/includes/local/configure.php
web/admin/includes/local/configure.php

/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar